__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
env/
venv/
.venv
*.egg-info
dist/
build/
.mypy_cache
.pytest_cache
.hypothesis
.git
.gitignore
.dockerignore
Dockerfile
.dockerignore
README.md
README_RU.md
LICENSE
*.md
assets
console
*.egg
